<ion-content>
  <header class="flex-item ion-padding" style="padding-top: 0;">
    <div class="icon ion-activatable ripple-parent" [routerLink]="['/home']">
      <ion-icon name="chevron-back-outline"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <div class="neumorphism active">
      <h5>Budgets</h5>
    </div>
    <div class="neumorphism">
      <h5>Income</h5>
    </div>
  </header>
  <main class="ion-padding">
    <div class="flex-items">
      <h5>Category's Budget</h5>
      <ion-buttons slot="start">
        <ion-button [routerLink]="['/add-money', 'Budget']" shape="round">
          <ion-icon slot="start" name="add"></ion-icon>
          Budget
        </ion-button>
      </ion-buttons>
    </div>
    <h1>15 000 CFA</h1>
    <div class="categories">
      <div class="category active">
        <h6>Groceries</h6>
        <p>15 expenses</p>
        <div style="width: 100px; height: 100px;">
          <apx-chart
            [series]="chartOptions.series!"
            [chart]="chartOptions.chart!"
            [labels]="chartOptions.labels!"
            [colors]="activeColors.colors"
            [plotOptions]="chartOptions.plotOptions!"
            [dataLabels]="chartOptions.dataLabels!"
          ></apx-chart>
        </div>
      </div>
      <div class="category">
        <h6>Groceries</h6>
        <p>15 expenses</p>
        <div style="width: 100px; height: 100px;">
          <apx-chart
            [series]="chartOptions.series!"
            [chart]="chartOptions.chart!"
            [labels]="chartOptions.labels!"
            [colors]="chartOptions.colors!"
            [plotOptions]="chartOptions.plotOptions!"
            [dataLabels]="chartOptions.dataLabels!"
          ></apx-chart>
        </div>
      </div>
      <div class="category">
        <h6>Groceries</h6>
        <p>15 expenses</p>
        <div style="width: 100px; height: 100px;">
          <apx-chart
            [series]="chartOptions.series!"
            [chart]="chartOptions.chart!"
            [labels]="chartOptions.labels!"
            [colors]="chartOptions.colors!"
            [plotOptions]="chartOptions.plotOptions!"
            [dataLabels]="chartOptions.dataLabels!"
          ></apx-chart>
        </div>
      </div>
    </div>
  </main>
  <div class="list ion-padding">
    <div class="buttons">
        <ion-icon class="white" name="list-outline"></ion-icon>
        <ion-buttons slot="start">
        <ion-button [routerLink]="['/add-money', 'Expense']" slot="end">
          <ion-icon slot="start" name="add"></ion-icon>
          Expense
        </ion-button>
      </ion-buttons>
    </div>
    <ion-list lines="none">
      <ion-item button>
        <ion-label>
          <h2>An expense just here cool</h2>
          <p>500</p>
        </ion-label>
        <div class="trash ion-activatable ripple-parent">
          <ion-img src="/assets/icon/trash.svg"></ion-img>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-item>
      <ion-item button>
        <ion-label>
          <h2>An expense just here cool</h2>
          <p>500</p>
        </ion-label>
        <div class="trash ion-activatable ripple-parent">
          <ion-img src="/assets/icon/trash.svg"></ion-img>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-item>
      <ion-item button>
        <ion-label>
          <h2>An expense just here cool</h2>
          <p>500</p>
        </ion-label>
        <div class="trash ion-activatable ripple-parent">
          <ion-img src="/assets/icon/trash.svg"></ion-img>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-item>
      <ion-item button>
        <ion-label>
          <h2>An expense just here cool</h2>
          <p>500</p>
        </ion-label>
        <div class="trash ion-activatable ripple-parent">
          <ion-img src="/assets/icon/trash.svg"></ion-img>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-item>
      <ion-item button>
        <ion-label>
          <h2>An expense just here cool</h2>
          <p>500</p>
        </ion-label>
        <div class="trash ion-activatable ripple-parent">
          <ion-img src="/assets/icon/trash.svg"></ion-img>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-item>
      <ion-item button>
        <ion-label>
          <h2>An expense just here cool</h2>
          <p>500</p>
        </ion-label>
        <div class="trash ion-activatable ripple-parent">
          <ion-img src="/assets/icon/trash.svg"></ion-img>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-item>
      <ion-item button>
        <ion-label>
          <h2>An expense just here cool</h2>
          <p>500</p>
        </ion-label>
        <div class="trash ion-activatable ripple-parent">
          <ion-img src="/assets/icon/trash.svg"></ion-img>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
