<ion-content class="ion-padding" [fullscreen]="true">
  <header class="flex-item">
    <div class="icon ion-activatable ripple-parent" [routerLink]="['/home']">
      <ion-icon name="chevron-back-outline"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <h1>Add Expense</h1>
  </header>
  <main>
    <h3>Amount</h3>
    <div class="flex-item screen">
      <p class="amount">1 000</p>
      <p>CFA</p>
    </div>
    <div class="flex-item">
      <div>
        <h3>Budget associated</h3>
        <p class="title">Food and Nutrition</p>
      </div>
      <div class="drop ion-activatable ripple-parent">
        <ion-icon name="chevron-down-outline"></ion-icon>
       <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>
    <div>
      <h3>Description</h3>
      <ion-input
        class="title"
        arial-label="Description"
        [clearInput]="true"
        placeholder="Enter a description"
        value="Bought some bread, butter and sugar"
      ></ion-input>
    </div>
    <div class="calculator">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center ion-align-self-center ion-activatable ripple-parent">
            1
            <ion-ripple-effect></ion-ripple-effect>
          </ion-col>
          <ion-col class="ion-text-center ion-align-self-center ion-activatable ripple-parent">
            2
            <ion-ripple-effect></ion-ripple-effect>
          </ion-col>
          <ion-col class="ion-text-center ion-align-self-center ion-activatable ripple-parent">
            3
            <ion-ripple-effect></ion-ripple-effect>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center ion-align-self-center  ion-activatable ripple-parent">
            4
            <ion-ripple-effect></ion-ripple-effect>
          </ion-col>
          <ion-col class="ion-text-center ion-align-self-center  ion-activatable ripple-parent">
            5
            <ion-ripple-effect></ion-ripple-effect>
          </ion-col>
          <ion-col class="ion-text-center ion-align-self-center  ion-activatable ripple-parent">
            6
            <ion-ripple-effect></ion-ripple-effect>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center ion-align-self-center  ion-activatable ripple-parent">
            7
            <ion-ripple-effect></ion-ripple-effect>
          </ion-col>
          <ion-col class="ion-text-center ion-align-self-center  ion-activatable ripple-parent">
            8
            <ion-ripple-effect></ion-ripple-effect>
          </ion-col>
          <ion-col class="ion-text-center ion-align-self-center  ion-activatable ripple-parent">
            9
            <ion-ripple-effect></ion-ripple-effect>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center ion-align-self-center  ion-activatable ripple-parent">
            <i class="fa-solid fa-delete-left"></i>
            <ion-ripple-effect></ion-ripple-effect>
          </ion-col>
          <ion-col class="ion-text-center ion-align-self-center  ion-activatable ripple-parent">
            0
            <ion-ripple-effect></ion-ripple-effect>
          </ion-col>
          <ion-col class="ion-text-center ion-align-self-center  ion-activatable ripple-parent">
            <i class="fa-solid fa-check-double" style="color: #00ebc8"></i>
            <ion-ripple-effect></ion-ripple-effect>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </main>
</ion-content>
