<ion-tabs>
  <div class="contain">
  </div>
  <div class="wrapper">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <i class="fa-solid fa-house fa-xl"></i>
      </ion-tab-button>
      <ion-tab-button tab="money">
        <i class="fa-solid fa-credit-card fa-xl"></i>
      </ion-tab-button>
      <ion-tab-button tab="add-expense" class="central">
        <i class="fa-solid fa-plus fa-xl central"></i>
      </ion-tab-button>
      <ion-tab-button tab="pastquestions">
        <i class="fa-solid fa-chart-simple fa-xl"></i>
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <i class="fa-solid fa-gear fa-xl"></i>
      </ion-tab-button>
    </ion-tab-bar>
  </div>
</ion-tabs>
