<ion-content class="ion-padding" [fullscreen]="true">
<div class="main-shadow"></div>
<main>
  <div class="top">
    <header>
      <div>
        <ion-icon name="grid"></ion-icon>
        <h3>Dashboard</h3>
      </div>
      <ion-icon name="card"></ion-icon>
    </header>
    <div class="card">
      <p>Income</p>
      <h1>12 000 CFA</h1>
    </div>
  </div>
  <header class="mini">
    <h5>All Expenses</h5>
    <ion-button fill="clear" shape="round" [routerLink]="['/money']">
      View All
    </ion-button>
  </header>
</main>
<div class="expense-list">
  <h6 class="title">Today</h6>
  <ion-list lines="none">
    <ion-item button>
      <i class="fa fa-receipt"></i> 
      <ion-label>
        <h6>Shoes for thanksgiving</h6>
        <p>Clothing</p>
      </ion-label>
      <p class="price">20 000 CFA</p>
    </ion-item>
    <ion-item button>
      <i class="fa fa-receipt"></i>
      <ion-label>
        <h6>Shoes for thanksgiving</h6>
        <p>Clothing</p>
      </ion-label>
      <p class="price">20 000 CFA</p>
    </ion-item>
    <ion-item button>
      <i class="fa fa-receipt"></i>
      <ion-label>
        <h6>Shoes for thanksgiving</h6>
        <p>Clothing</p>
      </ion-label>
      <p class="price">20 000 CFA</p>
    </ion-item>
    <ion-item button>
      <i class="fa fa-receipt"></i>
      <ion-label>
        <h6>Shoes for thanksgiving</h6>
        <p>Clothing</p>
      </ion-label>
      <p class="price">20 000 CFA</p>
    </ion-item>
  </ion-list>
  <h6 class="title">Yesterday</h6>
  <ion-list lines="none">
    <ion-item button>
      <i class="fa fa-receipt"></i>
      <ion-label>
        <h6>Shoes for thanksgiving</h6>
        <p>Clothing</p>
      </ion-label>
      <p class="price">20 000 CFA</p>
    </ion-item>
    <ion-item button>
      <i class="fa fa-receipt"></i>
      <ion-label>
        <h6>Shoes for thanksgiving</h6>
        <p>Clothing</p>
      </ion-label>
      <p class="price">20 000 CFA</p>
    </ion-item>
    <ion-item button>
      <i class="fa fa-receipt"></i>
      <ion-label>
        <h6>Shoes for thanksgiving</h6>
        <p>Clothing</p>
      </ion-label>
      <p class="price">20 000 CFA</p>
    </ion-item>
    <ion-item button>
      <i class="fa fa-receipt"></i>
      <ion-label>
        <h6>Shoes for thanksgiving</h6>
        <p>Clothing</p>
      </ion-label>
      <p class="price">20 000 CFA</p>
    </ion-item>
  </ion-list>
  <h6 class="title">Last 30 days</h6>
  <ion-list lines="none">
    <ion-item button>
      <i class="fa fa-receipt"></i>
      <ion-label>
        <h6>Shoes for thanksgiving</h6>
        <p>Clothing</p>
      </ion-label>
      <p class="price">20 000 CFA</p>
    </ion-item>
    <ion-item button>
      <i class="fa fa-receipt"></i>
      <ion-label>
        <h6>Shoes for thanksgiving</h6>
        <p>Clothing</p>
      </ion-label>
      <p class="price">20 000 CFA</p>
    </ion-item>
    <ion-item button>
      <i class="fa fa-receipt"></i>
      <ion-label>
        <h6>Shoes for thanksgiving</h6>
        <p>Clothing</p>
      </ion-label>
      <p class="price">20 000 CFA</p>
    </ion-item>
    <ion-item button>
      <i class="fa fa-receipt"></i>
      <ion-label>
        <h6>Shoes for thanksgiving</h6>
        <p>Clothing</p>
      </ion-label>
      <p class="price">20 000 CFA</p>
    </ion-item>
  </ion-list>
</div>
</ion-content>
