<ion-content [fullscreen]="true" class="content">
  <div class="content">
    <header class="flex-item">
      <div class="icon ion-activatable ripple-parent" [routerLink]="['/home']">
        <ion-icon name="chevron-back-outline"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <h1>Analytics</h1>
    </header>
    <ion-card-header>
      <ion-card-title>Overview</ion-card-title>
    </ion-card-header>
    <div class="chart-container">
      <canvas #lineChartCanvas></canvas>
    </div>
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>Expense Breakdown</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>Daily Spending Heatmap</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <canvas id="weeklyExpensesChart"></canvas>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
